/*CSS Variables & Fallbacks*/
:root {
    --primary-color: #FBE0C3;
    --secondary-color: rgb(255, 187, 152);
    --bg-fallback: hsl(0, 0%, 100%);
}

/*Background Color*/
body {
    background: linear-gradient(
      var(--primary-color), 
      var(--secondary-color)
    );
}

/*Color for navigation bar*/
nav {
    background-color: color-mix(in srgb, #344648 70%, white 30%) / 50%;
}

nav a {
    color: color(display-p3 0.50 0.56 0.70);
}

/*Abosolute Unit padding for the footer*/
footer {
    padding-top: 0.5in;
}

/*Center of image*/
#image img {
    display: block;       
    width: 80%;            /*relative unit*/
    max-width: 850px;      /*absolute unit*/
    margin: 2rem auto;     /*relative unit*/
}

/*Centers video recording and audio recording to the middle and text*/
#Video-Audio {
    justify-content: center;   
    align-items: flex-start;
    gap: 2rem;                 
    flex-wrap: wrap;
    text-align: center;         
}

/*Adds a margin for the form from the top to act as a buffer for sections*/
#Form {
    margin-top: 40px;
}

#Agenda ol {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

#Attendance ul {
    margin: 20px 10px 20px 20px;
}

#New_business {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
}
  
#Unfinished_business {
    padding: 5px 20px 5px 20px;
}

#Miscellaneous {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem;
}